.mainBlogCard {
    width: 100%;        
    border: 5px solid black;
    display: inline-block;
    padding: 2px 16px;

}

.blogImg {
    max-width: 50%;
    max-height: 50%;
    vertical-align: top;
    display: inline-block;
}
.blogImg img {
    float: left;
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.blogInfo {
    float: right;
    width: 50%;
    display: inline-block;
}