.App {
  /* About Page */
  position: relative;
  width: 1440px;
  height: 1024px;

  background: #FFFFFF;
}
.App-header {
  /* landing_picture */
  position: absolute;
  left: 0px;
  right: -0.11px;
  top: 0%;
  bottom: 79.02%;
}

.landing_title {
  position: absolute;
  left: 16.46%;
  right: 16.53%;
  top: 11.24%;
  bottom: 55.28%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 98px;
  text-align: center;

  color: #FFFFFF;
}

.landing_subtitle {
  position: absolute;
  left: 16.46%;
  right: 16.53%;
  top: 53.47%;
  bottom: 29.8%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;

  color: #FFFFFF;
}

.nav_logo {
  position: absolute;
  width: 190px;
  height: 25px;
  left: 0px;
  top: 15px;

  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #FFFFFF;
}

.cover_photo {
  position: absolute;
  left: 0%;
  right: 0.01%;
  top: 0%;
  bottom: 0%;

  background: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 146.94%);
  background-blend-mode: darken, normal;
}

.landing_nav_bar {
  position: absolute;
  height: 48px;
  left: 1.53%;
  right: 2.36%;
  top: 16px;
}

.nav_menu_button {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0px;
  top: 13px;
  color: #FFFFFF;

}

.nav_about_button {
  position: absolute;
  width: 58px;
  height: 25px;
  right: 84px;
  top: 15px;
  color: #FFFFFF;

  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  mix-blend-mode: normal;
}

.nav_search_button {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 42px;
  top: 13px;
  color: #FFFFFF;
}