.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.MainBlogComponent {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
.MainBlogImg {
    width: 100%;
    display: flex;  
    position: relative;
    background-color: black;
}
.MainBlogImg img {
    flex: 1;
}
.SideBlogComponent {
    margin-left: 25px;
    margin-right: 25px;
}
.SideBlogImg {
    width: 100%;
    display: flex;  
    position: relative;
    background-color: black;
}
.SideBlogInfo img {
    flex: 1;
}
.DividerLine {
    height: 25px;
    width: 100%;
    max-width: 1000px;
    margin-left: 70px;
    display: flex;  
    margin-right: 70px;
    border-bottom: 1px solid #E5E5E5;
}
.DividerNoLine {
    height: 25px;
    margin-left: 70px;
    margin-right: 70px;
}
.NavbarLinks {
    color: #FFFFFF;
    margin-right: 20px;
}
.NavbarLinks a:visited, a:link {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}